
{% extends 'base.html' %}
{% block content %}



<div class="card mb-3" style="max-width: 800px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ products.image.url }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ products.name }}</h5>
          <p class="card-text">{{ products.description }}</p>
          
          {% if products.is_sale %}
          <div class="text-center">
            <h5 class="fw-bolder">{{products.name}}</h5>
            <strike>{{products.price}}</strike> &nbsp;
            {{products.sale_price}} <br />
            {{products.description}}
          </div>
          {% else %}
          <div class="text-center">
            <h5 class="fw-bolder">{{products.name}}</h5>
            {{products.price}} &nbsp;
            <h3>Product Id: {{products.id}}</h3> &nbsp;
          </div>
          {% endif %}
          <div class="row justify-content-center">
            <div class="col-md-2">Quantity</div>
                    <div class="col-md-2">
                        <select id="qty-cart" class="form-select" aria-label="Default select example">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                  </select>
                </div>
           </div>

          <a class='btn btn-secondary' href="{% url 'home' %}"> Home</a>
          <button class='btn btn-secondary' type="button"  id="add-cart" value="{{products.id }}">Add to Cart</button>
          
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
</div>

<script>
  $(document).on('click','#add-cart', function(e){
      e.preventDefault();
      // Get value of the clicked button
      var name = 'saurabh';
      var age = '19';
      $.ajax({
          type: 'POST',
          url: "{% url 'cart_add' %}",
          data: {
              product_id: $('#add-cart').val(),
              product_qty: $('#qty-cart option:selected').text(),
              name: name,
              age:age,
              csrfmiddlewaretoken: '{{ csrf_token }}',
              action: 'post',
          },
          success: function(json){
              console.log("got data from server...",json);
              document.getElementById("cart_quantity").textContent = json.qty
              location.reload();
              
              
          },
          error: function(xhr, errmsg, err){
  
          }
      });
  });
  </script> 



{% endblock  %}




 