
{% extends 'base.html' %}
{% block content %}



<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Login in.....</h1>
        </div>
    </div>
</header>  <br/>


<div class="container">

  <div class="row">
        <center>
                  <div class="col-8">
                         
                    <form method="POST" action="{% url 'login' %}">
                      {% csrf_token %}
                      <div class="mb-3">
                        <input type="text" class="form-control" name="username" placeholder="Your Username : ">
                      </div>
                      <div class="mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Enter your Password">
                      </div>
                    
                      <button type="submit" class="btn btn-primary">Login</button>
                    </form>


                         <br/>  <br/><br/><br/>
                  </div>
        </center>
  </div>
   </div>




<!-- <div>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        
        <div class="mb-3">
          <input type="text"  name="username" placeholder="Username" class="form-control"  >
\        </div>

        <div class="mb-3">
          <input name="password" placeholder="Password" type="password" class="form-control" >
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
      </form>
</div> -->


{% endblock  %}

       


   
       
        

